body{
    background-color: #f0f0f0;
}

.background-circle{
    position:absolute;
    display: inline-block;
    width: 300px;
    height: 300px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-width: 10px;
    border-color: hsl(186, 34%, 60%);
    border-style: solid;
    margin-left: -150px;
    margin-top: -200px;
    opacity: 70%;
    z-index: -1;
}

.parallel-lines {
    position:absolute;
    display: inline-block;
    margin-left: 750px;
    margin-top: -50px;
    border-style: solid none;
    border-color: hsl(186, 34%, 60%);
    border-width: 10px;
    width: 15%;
    padding: 50px 50px;
    transform: rotate(-80deg);
    opacity: 40%;
    z-index: -1;
}

.dotted-border{
    position: absolute;
    display: inline-block;
    margin:50px 50px 50px 1250px;
    height: 100px;
    width: 5px;
    border-width: 7px;
    border-style:none;
    border-left-style: dotted;
    border-right-style: dotted;
    z-index: -1;
    border-color: hsl(186, 34%, 60%);
    opacity: 100%;
}

.main-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em auto;    
    width: 800px;
    height: 800px;
    background-color: hsl(27, 66%, 92%);
    z-index: 0;
    box-shadow: -12px 12px 25px -10px rgba(31, 73, 125, 0.8);
}

.chart-heading{  
    color: white;
    display: flex;
    justify-content:space-between;
    align-content: center;  
    background-color: hsl(10, 79%, 65%);
    width: 400px;
    margin: 0.75em 0;
    border-radius: 10px;
    padding: 2em 2em 2em 2em;
    box-sizing: border-box;
}

.chart-heading1{
    margin-top: 0;
    margin-bottom: 0.25em;
}

.heading2{
    margin-bottom: 0;
    margin-top: 0;
}

.chart-body{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height:45%;
    background-color: white;
    width: 400px;
    margin: 0.75em 0;
    border-radius: 10px;

    padding: 2em 2em 2em 2em;
    box-sizing: border-box;
}

.pointer-expense,
.chart,
.week{
    display: flex;
    flex-direction: row;    
    justify-content: space-between;
    padding: 2em 0 0 0
    /*box-sizing: border-box; */
}

.week{
    padding-top: 0.25em;    
}

.bar{
    background-color:hsl(10, 79%, 65%);   
    width: 10%;
    height:100px;
    border-radius:5px;
}

.bar:hover{
    background-color: hsl(186, 34%, 60%);    
    cursor: pointer;    
}

.mouse-pointer-day{
    width: 10%;
    height:30px;
}

.mouse-pointer-day:hover{
    background-color: green;
    content: "hello";
    color: white;
}

.day{
    display: flex;
    justify-content: space-between;
    order:10;
    margin: 0;
    width: 10%;
}
